<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="body">
    <h1>The ROCK PAPER SCISSOR GAME!</h1>
    <p>Please enter your name:</p>
    <form action="/game" method="post">
      <p>Player : <input id="player-name-textbox" type="text" name="player" required></p>

      <input id="name-submit" type="submit" value="Battle Now!">
    </form>
  </body>
</html>