<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Results</title>
  </head>
  <body id="body">
    <h1>The computer choice: <%= Bot.choice %></h1>
    <h1><%= name %> choice: <%= playerChoice %></h1>
    <h1>Result: <h1 style ="color: rgb(125, 36, 220);"><%= result %></h1></h1>
    <button><a href="/">I want to play again</a></button>
   
  </body>
</html>